   <link rel="stylesheet" href="/css/style.css"> 
    
    <div class="header">
        <div class="header-content">
            <ul class="header-text">
                <li><a href="{{link}}" style="font-size: 20px;padding-right: 85px;">{{rolePage}} Page</a></li>
                <!--<li><a href="{{link}}"><img src="/images/logos1.png" alt="avt" style="width: 50px"></a></li>>-->
               
                <li class="header-avatar">
                    <div class="dropdown">
                        <a href="#" class="dropdown-toggle" role="button" id="dropdownMenuLink"
                            data-bs-toggle="dropdown">
                            <img src="/images/{{avatar}}" alt="">
                            <span>{{email}}</span>
                            {{!-- <i class="fa fa-caret-down"></i> --}}
                        </a>
                        <ul class="dropdown-menu dropdown-menu-fix">
                            <li><a class="dropdown-item" href="/profile">Hồ sơ</a></li>
                            <li><a class="dropdown-item" href="/profile/changePassword">Đổi mật khẩu</a></li>
                            <li><a class="dropdown-item" href="/logout">Đăng xuất</a></li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
    </div>
