<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="images/clbglogo.png" type="image/x-icon">
    <title>Cập nhật hồ sơ</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/sideBar.css">
    <style>
        .body-profile {
            width: 700px;
            margin: auto;
            padding: 47px 0;
        }

        .body-profile .body-info {
            padding-left: 55px;
            font-size: 25px;

        }

        .body-info span {
            font-weight: 700;
        }
    </style>
</head>

<body>
    {{> header}}
    <div class="container">
        <div class='text-center mt-5'>
            <img src="/images/{{user.avatar}}" alt="avatar" width='250' height='300'>
        </div>
        {{#if (compare role 'trainee')}}
        <form method="post" action="/profile/trainee/update?_method=PATCH" enctype="multipart/form-data">
            <div class="mb-3">
                <label for="avatar" class="form-label">Ảnh đại diện</label>
                <input type="file" name='avatar' id="avatar" class="form-control">
            </div>
                <button type="submit" class="btn btn-primary">Cập nhật hồ sơ</button>
        </form>
        {{else}}
        <form method="post" action="/profile/update?_method=PUT" enctype="multipart/form-data">
            <div class="mb-3">
                <label for="avatar" class="form-label">Ảnh đại diện</label>
                <input type="file" name='avatar' id="avatar" class="form-control">
            </div>
            <div class="mb-3">
                <label for="name" class="form-label">Họ và tên</label>
                <input type="text" value="{{user.name}}" name='name' id="name" class="form-control">
            </div>
            <div class="mb-3">
                <label for="age" class="form-label">Tuổi</label>
                <input type="text" value="{{user.age}}" name='age' id="age" class="form-control">
            </div>
            <div class="mb-3">
                <label for="phone" class="form-label">Số điện thoại</label>
                <input type="text" value="{{user.phone}}" name='phone' id="phone" class="form-control">
            </div>
            <div class="mb-3">
                <label for="address" class="form-label">Địa chỉ</label>
                <input type="text" value="{{user.address}}" name='address' id="address" class="form-control">
            </div>
            <div class="text-center mt-4">
                <button type="submit" class="btn btn-primary">Cập nhật hồ sơ</button>
            </div>
        </form>
        {{/if}}
    </div>
    {{> footer}}

    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
        crossorigin="anonymous"></script>
</body>

</html>