<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="images/logos1.png" type="image/x-icon">
    <title>Nhân Viên</title>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/sideBar.css">
</head>

<body>
    {{> header}}
    <div class="wrapper">
        {{> sidebarAdmin}}
        <div class="main_content">
            <div class="container">
                <div class="d-flex justify-content-between">
                    <div>
                        <a class="me-5 btn btn-success" href="/admin/viewStaff/get-create">Thêm nhân viên</a>
                    </div>
                    <div>
                        <form class="d-flex input-group" method="get" action="/admin/viewStaff/search">
                            <input type="text" name="search" id="search" placeholder="Search by name">
                            <button type="submit" class="btn btn-primary btn-search">Tìm kiếm</button>
                        </form>
                    </div>
                </div>
                <br>
                <table class="table table-hover">
                    <thead class="bg-warning">
                        <tr>

                            <th scope="col">Họ và tên</th>
                            <th scope="col">Email</th>
                            <th scope="col">Tuổi</th>
                            <th scope="col">Số điện thoại</th>
                            <th scope="col">Địa chỉ</th>
                            <th scope="col">Thời gian tạo</th>
                            <th scope="col"></th>

                        </tr>
                    </thead>
                    <tbody>
                        {{#if staffs}}
                        {{#each staffs}}
                        <tr>
                            <td>{{this.name}}</td>
                            <td>{{this.email}}</td>
                            <td>{{this.age}}</td>
                            <td>{{this.phone}}</td>
                            <td>{{this.address}}</td>
                            <td>{{this.dateCreated}}</td>
                            <td>
                                <a class="btn btn-primary" href="/admin/viewStaff/{{this._id}}/edit">Sửa</a>
                                <a class="btn btn-danger" href="" data-bs-toggle="modal" data-bs-target="#deleteModal"
                                    data-id="{{this._id}}">Xoá</a>
                            </td>
                        </tr>
                        {{else}}
                        <tr>
                            <td colspan="4" class="text-center">Bạn không có nhân viên</td>
                        </tr>
                        {{/each}}
                        {{else}}
                        {{#if staff}}
                        <tr>
                            <td>{{staff.name}}</td> 
                            <td>{{staff.email}}</td>
                            <td>{{staff.age}}</td>
                            <td>{{staff.phone}}</td>
                            <td>{{staff.address}}</td>
                            <td>{{staff.dateCreated}}</td>
                            <td>
                                <a class="btn btn-primary" href="/admin/viewStaff?id={{Staff._id}}/edit">Sửa</a>
                                <a class="btn btn-danger" href="">Xoá</a>
                            </td>
                        </tr>
                        {{else}}
                        <tr>
                            <td colspan='6' class='text-center'>Không tìm thấy tên nhân viên!</td>
                        </tr>
                        {{/if}}
                        {{/if}}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <!-- Button trigger modal -->

    <!-- Modal -->
    <div class="modal fade" id="deleteModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Xoá</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Bạn có chắc muốn xoá nhân viên?
                </div>
                <div class="modal-footer">
                    <button id="btn-delete-student" type="button" class="btn btn-danger">Xác nhận</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
                </div>
            </div>
        </div>
    </div>
    <form class="form-delete" method="post"></form>
    <script>
        document.addEventListener('DOMContentLoaded', () => {
            let StaffId;
            let deleteForm = document.querySelector('.form-delete')
            let btnDeleteStaff = document.querySelector('#btn-delete-student')
            let deleteModal = document.getElementById('deleteModal')
            deleteModal.addEventListener('show.bs.modal', function (event) {
                // Button that triggered the modal
                let button = event.relatedTarget
                // Extract info from data-bs-* attributes
                StaffId = button.getAttribute('data-id')
            })
            btnDeleteStaff.onclick = () => {
                deleteForm.action = `/admin/viewStaff/${StaffId}?_method=DELETE`;
                deleteForm.submit();
            }
        })
    </script>

    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
        crossorigin="anonymous"></script>
    {{> footer}}
</body>

</html>