<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="images/clbglogo.png" type="image/x-icon">
    <title>Môn học</title>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/sideBar.css">
    <style>
        .active {
            background-color: black !important;
        }
    </style>
</head>

<body>
    {{> header}}
    <div class="wrapper">
        {{> sidebarTrainee}}
        <div class="main_content">
            <div class="container">
                <div class="d-flex justify-content-between">
                    <div>
                        {{#if idCategory}}
                        <form method="get" action="/trainee/searchcourses/{{idCategory}}" class="d-flex my-4">
                            <input type="text" name="name" class="form-control me-2">
                            <button type="submit" class="btn btn-primary">Tìm kiếm</button>
                        </form>
                        {{else}}
                        <form method="get" action="/trainee/searchcourses" class="d-flex my-4">
                            <input type="text" name="name" class="form-control me-2">
                            <button type="submit" class="btn btn-primary">Tìm kiếm</button>
                        </form>
                        {{/if}}
                    </div>
                </div>
                <div class="div">
                    {{#if idCategory}}
                    <button class="btn btn-secondary"><a href="/trainee"
                            style="color: white;text-decoration: none;">Tất cả</a></button>
                    {{#each categories }}
                    {{#if (compare this._id ../idCategory)}}
                    <button class="btn btn-secondary active"><a href="/trainee/{{this._id}}"
                            style="color: white;text-decoration: none;">{{this.name}}</a></button>
                    {{else}}
                    <button class="btn btn-secondary"><a href="/trainee/{{this._id}}"
                            style="color: white;text-decoration: none;">{{this.name}}</a></button>
                    {{/if}}
                    {{/each}}
                    {{else}}
                    <button class="btn btn-secondary active"><a href="/trainee"
                            style="color: white;text-decoration: none;">Tất cả</a></button>
                    {{#each categories }}
                    <button class="btn btn-secondary "><a href="/trainee/{{this._id}}"
                            style="color: white;text-decoration: none;">{{this.name}}</a></button>
                    {{/each}}
                    {{/if}}
                </div>
                <table class="table table-hover">
                    <thead class="bg-warning">
                        <tr>
                            <th scope="col">STT</th>
                            <th scope="col">Tên môn học</th>
                            <th scope="col">Phân loại</th>
                            <th scope="col">Mô tả</th>
                            <th scope="col">Số sinh viên</th>
                            <th scope="col">Lựa chọn</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#if courses}}
                        {{#each courses}}
                        <tr>
                            <th>{{sum @index}}</th>
                            <td>{{this.name}}</td>
                            <td>{{this.category}}</td>
                            <td>{{this.description}}</td>
                            <td>{{this.quantity}}</td>
                            <td>
                                <a class="btn btn-success" href="/trainee/showalltrainees/{{this.id}}">Danh sách sinh viên</a>
                                <a class="btn btn-primary" href="/trainee/viewSchedules/{{this.id}}">Lịch học</a>
                            </td>
                        </tr>
                        {{else}}
                        <tr>
                            <td colspan="6" class="text-center">Bạn không có môn học nào cả</td>
                        </tr>
                        {{/each}}
                        {{else}}
                        {{#if course}}
                        <tr>
                            <th>1</th>
                            <td>{{course.name}}</td>
                            <td>{{course.category}}</td>
                            <td>{{course.description}}</td>
                            <td>{{course.quantity}}</td>
                            <td>
                                <a href="/trainee/showalltrainees/{{course.id}}">Xem danh sách sinh viên</a>
                                <a class="btn btn-primary" href="/trainee/viewSchedules/{{course.id}}">Xem lịch học</a>
                            </td>
                        </tr>
                        </tr>
                        {{else}}
                        <tr>
                            <td colspan='6' class='text-center'>Không thể tìm thấy môn học nào!</td>
                        </tr>
                        {{/if}}
                        {{/if}}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    {{> footer}}
    <!-- Button trigger modal -->

    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
        crossorigin="anonymous"></script>
</body>

</html>